-- Migration: Catálogo Completo 377 Produtos
-- Data: 10/12/2025

-- ============ LIMPAR PRODUTOS EXISTENTES ============
TRUNCATE TABLE products CASCADE;

-- ============ INSERIR 377 PRODUTOS ============

-- ============ VERIFICAÇÃO ============
SELECT 
  'Produtos inseridos!' as resultado,
  COUNT(*) as total_produtos
FROM products;
